pre.highlight,
.highlight pre
{
    background-color: #012456;
    color: #f5f5f5;
    font-family: "Source Code Pro","Consolas","monospace";
}


/* console highlight */
.language-posh pre.highlight, .language-posh .highlight pre, 
.language-console pre.highlight, .language-console .highlight pre  
{
    background: #012456;
    color: #d14;
}

.language-posh td.gutter.gl pre.lineno,
.language-console td.gutter.gl pre.lineno
{
    background: #003279;
    color: #FF0;
}


/* powershell highlight */
pre.lineno {
    background: #1a1b17;
    width: auto;
    border-radius: 3px 0px 0px 3px;
}

td.code pre
{
    border-radius: 0px 3px 3px 0px;
}

.highlight table, .highlight td.code pre
{
    width: 100%;
}

td.gutter.gl{
    width: 40px;
}